<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>I Have No Shelf Control - Book Review Database Message Board</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
<h1 data-shadow='ihnsc'>i have no shelf control</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <a href="/api/addBooks">Add Book</a>
    {{!-- <a href="../addBook">Add Book</a> --}}

    {{#if loggedIn}}

    <button id="logout" class="btn-no-style">Logout</button>

    {{else}}

    <a href="/login">Login</a>

    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Book Review Database</h2>
      <div>

<!--========================= dropdown menu of genres =================-->
        <h2>Add your own book!</h2>
        <p>Select your genre</p>

            <a href="/gallery/1">Art</a><br>
            <a href="/gallery/2">Autobiography</a><br>
            <a href="/gallery/3">Automotive</a><br>
            <a href="/gallery/4">Biography</a><br>
            <a href="/gallery/5">Business</a><br>
            <a href="/gallery/6">Children's</a><br>
            <a href="/gallery/7">Christian</a><br>
            <a href="/gallery/8">Classics</a><br>
            <a href="/gallery/9">Comics</a><br>
            <a href="/gallery/10">Cookbooks</a><br>
            <a href="/gallery/11">Fantasy</a><br>
            <a href="/gallery/12">Fiction</a><br>
            <a href="/gallery/13">History</a><br>
            <a href="/gallery/14">Horror</a><br>
            <a href="/gallery/15">Music</a><br>
            <a href="/gallery/16">Mystery</a><br>
            <a href="/gallery/17">Non-Fiction</a><br>
            <a href="/gallery/18">Poetry</a><br>
            <a href="/gallery/19">Romance</a><br>
            <a href="/gallery/20">Science</a><br>
            <a href="/gallery/21">Science-Fiction</a><br>
            <a href="/gallery/22">Self Help</a><br>
            <a href="/gallery/23">Sports</a><br>
            <a href="/gallery/24">Thriller</a><br>
            <a href="/gallery/25">Travel</a><br>

   <!--      <select>                --> 
 <!--          <option>Genres</option>    --> 
 <!--          <option>Art</option>       --> 
 <!--          <option></option>           --> 
 <!--          <option></option>           --> 
 <!--          <option>Business</option>   -->  
 <!--          <option>Childrens</option>  --> 
 <!--          <option>Christian</option>  -->  
 <!--          <option>Classics</option>   -->  
 <!--          <option>Comics</option>     --> 
 <!--          <option>Cookbooks</option>   -->  
 <!--          <option>Fantasy</option>    --> 
 <!--          <option>Fiction</option>    --> 
  <!--         <option>History</option>    --> 
  <!--         <option>Horror</option>     --> 
  <!--         <option>Music</option>      --> 
 <!--          <option>Mystery</option>    --> 
 <!--          <option>Nonfiction</option>  -->  
 <!--          <option>Poetry</option>  
  <!         <option>Romance</option>     --> 
 <!--          <option>Science</option>     --> 
 <!--          <option>Science Fiction</option>   --> 
 <!--          <option>Self Help</option>       --> 
  <!--         <option>Sports</option>        --> 
  <!--         <option>Thriller</option>    --> 
  <!--         <option>Travel</option>     --> 
  <!--       </select>   -->   

<!--=====================================================================-->
 

        {{!-- <input type="text", id="title"/> --}}
        {{!-- <input type="text", id="author"/> --}}

      <!--    <button class="book-addition">Add a book!</button> --> 

      </div>
    </aside>
    <div class="gallery">

      {{{body}}}

    </div>
  </main>

  {{#if loggedIn}}

  <script src="/js/logout.js"></script>
  {{/if}}

<!-- ============================ FOOTER ======================================-->

  <footer class="w-100 py-4 flex-shrink-0">
   <div class="container py-4">
    <div class="row gy-4 gx-5">
      <div class="col-lg-4 col-md-6">
         <h5 class="h1 text-white">IHNSC.</h5>
         <p class="small text-muted mb-0">&copy; Copyright info. All rights reserved. </p>
       </div>
       <div class="col-lg-4 col-md-6">
         <h5 class="text-white mb-3">Updates</h5>
        <p class="small text-muted">Sign up to receive notifications about new reviews and every time someone leaves a
              comment on one of your reviews!</p>
         <!--  form -->
         <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Recipient's email" aria-label="Recipient's username"
             aria-describedby="basic-addon2">
          <div class="input-group-append">
          </div>
         </div>
        <button type="button" class="btn btn-dark">Sign Up</button>
      </div>
      </form>
         <!--  ==== -->
     </div>
   </div>
  </div>
</footer>

<!-- ==================================================================-->

</body>

</html>

