<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Add a Book</title>

</head>

<body>
	<container id="addABookContainer">
	<div id="card-book-add">
<nav>
		<h1 id="content-book-add">Add a Book!</h1>
</nav>

		<h4> Enter book details</h4>
		<p class="card-add-header">Title</p>
        <input id="book-title" type="text"/>

		<p class="card-add-header">Author</p>
        <input id="book-author" type="text"/>

		<p class="card-add-header">Genre</p>

		<input type="radio" id="art" name="genre" value="Art"><label for="art">Art</label><br>
		<input type="radio" id="autobiography" name="genre" value="Autobiography"><label for="autobiography">Autobiography</label><br>
		<input type="radio" id="biography" name="genre" value="Biography"><label for="biography">Biography</label><br>
		<input type="radio" id="business" name="genre" value="Business"><label for="javascript">Business</label><br>
		<input type="radio" id="childrens" name="genre" value="Childrens"><label for="javascript">Childrens</label><br>
		<input type="radio" id="christian" name="genre" value="Christian"><label for="javascript">Christian</label><br>
		<input type="radio" id="classics" name="genre" value="Classics"><label for="javascript">Classics</label><br>
		<input type="radio" id="comics" name="genre" value="Comics"><label for="comics">Comics</label><br>
		<input type="radio" id="cookbooks" name="genre" value="Cookbooks"><label for="cookbooks">Cookbooks</label><br>
		<input type="radio" id="fantasy" name="genre" value="Fantasy"><label for="fantasy">Fantasy</label><br>
		<input type="radio" id="fiction" name="genre" value="Fiction"><label for="fiction">Fiction</label><br>
		<input type="radio" id="history" name="genre" value="History"><label for="history">History</label><br>
		<input type="radio" id="music" name="genre" value="Music"><label for="music">Music</label><br>
		<input type="radio" id="mystery" name="genre" value="Mystery"><label for="mystery">Mystery</label><br>
		<input type="radio" id="nonfiction" name="genre" value="Nonfiction"><label for="nonfiction">Nonfiction</label><br>
		<input type="radio" id="poetry" name="genre" value="Poetry"><label for="poetry">Poetry</label><br>
		<input type="radio" id="romance" name="genre" value="Romance"><label for="romance">Romance</label><br>
		<input type="radio" id="science" name="genre" value="Science"><label for="science">Science</label><br>
		<input type="radio" id="sciencefiction" name="genre" value="Science Fiction"><label for="sciencefiction">Science Fiction</label><br>
		<input type="radio" id="selfhelp" name="genre" value="Selfhelp"><label for="selfhelp">Self Help</label><br>
		<input type="radio" id="sports" name="genre" value="Sports"><label for="sports">Sports</label><br>
		<input type="radio" id="thriller" name="genre" value="Thriller"><label for="thriller">Thriller</label><br>
		<input type="radio" id="travel" name="genre" value="Travel"><label for="travel">Travel</label>

		<p class="card-add-header">Year of Publication</p>
        <input id="book-year" type="text"/>

		<p class="card-add-header">Summary</p>
        <div>
        	<textarea id="summary"></textarea>
		</div>
<!--submit book button-->
        <button class="book-addition" type="submit">Add book!</button>
	</div>
</container>
<!--js script for button-->
	<script src="../public/js/logout.js"></script>

		<script src="../public/js/addBook.js"></script>



